.fab{
    border-radius: 100%;
    bottom: 20px;
    font-size: 15px;
    padding: 20px;
    right: 20px;
    position: fixed;
}

.fab-danger{
    bottom: 20px;
    padding: 10px;
    left: 20px;
    position: fixed;
}